/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}

h1 {
  color: #fff;
}

#output {
  width: 80%;
  margin-top: 25px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 10px;

  >div.oneTeam{
    border-radius: 5px;
    background-color: #222;
    color: white;
    padding: 10px 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    >h2{
      text-align: center;
      grid-column: 1 / -1;
    }

    >div.onePlayer{
      background-color: #3D3D3D;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      >a{
        border-radius: 5px;
        color: black;
        background-color: white;
        padding: 5px 20px;
        text-decoration: none;
      }
      >a:hover{
        background-color: #222;
        color: white;
      }
    }
  }
}

@media(min-width: 700px){
  #output{
    >div.oneTeam{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}