@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html{
   scroll-behavior: smooth;
}

body{
   font-family: 'Inter', sans-serif;
   height: 500vh;
}

header, footer{
   padding: 0 10vw;
}

main > section{
   padding: 0 10vw;
}

header{
   display: flex;
   justify-content: space-between;
   margin: 60px 0;

   >img{
      width: 150px;
      object-fit: contain;
   }

   >i{
      margin: auto 0;
      font-size: 32px;
   }

   > nav{
      display: none;

      > ul{
         display: flex;
         gap: 15px;
         list-style: none;
         margin: 0;
         padding: 0;

         > li, a{
            color: black;
            text-decoration: none;

            >a:hover{
               border-bottom: 2px solid black;
            }
         }
      }
   }
}

main{

   > section#hero{
      display: flex;
      height: 45vh;
      overflow: hidden;

      >article{
         width: 75%;
         >h4{
            text-transform: uppercase;
            color: #FF3998;
         }
         > h1{
            font-size: 48px;
         }
         >p{
            color: #555555;
            font-size: 20px;
            padding-bottom: 30px
         }

         >a{
            position: relative;
            border: none;
            border-radius: 100px;
            padding: 20px 40px;
            z-index: 1;
            background: white;
            overflow: hidden;
            color: black;
            text-decoration: none;
            font-weight: 600;
         }
         >a::before {
            content: "";
            position: absolute;
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;
            background: linear-gradient(to right, green, lightgreen);
            z-index: -1;
            border-radius: inherit;
         }
      }

      >img{
         position: relative;
         right: -35%;
      }
   }

   >section#upsell{
      background: rgb(255,57,152);
      background: linear-gradient(87deg, rgba(255,57,152,1) 2%, rgba(255,129,57,1) 35%, rgba(255,57,57,1) 92%);
      margin: 80px 0 0px 0;
      padding-bottom: 40px;
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: end;

      > h1{
         font-size: 60px;
         font-weight: 500;
      }
      > p{
         font-size: 20px;
      }
   }

   >section#press{
      margin: 80px 0 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      >img{
         width: 40%;
         object-fit: contain;
      }
   }
}

@media (min-width: 750px){
   header{
      > i{
         display: none;
      }
      >nav{
         display: block;
      }
   }

   main{
      > section#hero{
         > article{
            width: 50%;
         }
         > img{
            position: relative;
         }
      }
      > section#upsell{
         margin: 100px;
         border-radius: 20px;
      }
      > section#press{
         display: flex;
         justify-content: space-between;
         >img{
            width: 20%;
         }
      }
   }

}