/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}

h1 {
  color: #fff;
}

#output {
  width: 80%;
  margin-top: 25px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 10px;

  >div.oneTeam{
    border-radius: 5px;
    background-color: #222;
    color: white;
    padding: 10px 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    >h2{
      text-align: center;
      grid-column: 1 / -1;
    }

    >button{
      border-radius: 5px;
      padding: 5px 10px;
      background-color: #3D3D3D;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}

dialog{
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  
  >button{
    border-radius: 5px;
    margin: 5px;
    padding: 5px 20px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
  }
}

@media(min-width: 700px){
  #output > div.oneTeam{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}