@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url("./resources/bg.jpg");
   background-position: center;
   font-family: "Poppins", sans-serif;
}

section#mainSection {
   background-image: url('/resources/bg-overlay.png');
   color: white;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   >div#hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      >#imgCon {
         width: 200px;
         height: 200px;
         border: 1px solid white;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;

         >img {
            width: 100px;
            height: 100px;
         }
      }

      >div.line {
         border: 1px solid white;
         width: 0;
         height: 5rem;
      }

      >div#text {
         border: 1px solid white;
         border-left: none;
         border-right: none;
         padding: 20px;
         margin: 0 20px;

         >h2 {
            text-align: center;
            padding: 20px 0;
            text-transform: uppercase;
            letter-spacing: 5px;
         }

         >p {
            text-align: justify;
            padding: 20px 0;
            text-transform: uppercase;
            font-weight: lighter;

            >span {
               text-decoration: underline dotted;
            }
         }
      }

   }

   >div.line {
      border: 1px solid white;
      width: 0;
      height: 5rem;
   }


   >div#menuButtons {
      display: flex;
      flex-direction: column;
      width: 100vw;
      /* padding: 0 20px; */

      >a {
         border: 1px solid white;
         padding: 20px;
         color: white;
         text-align: center;
         text-decoration: none;
         text-transform: uppercase;
         font-weight: 300;
      }

      >a:hover {
         background-color: white;
         color: gray;
         opacity: 0.5;
      }
   }
}

main {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.show {
   display: block;
}

article {
   display: none;
   width: 50%;
   background-color: rgba(47, 79, 79, 0.7);
   border: none;

   >div.mainContent {
      padding: 40px 30px;

      >div.nameAndCloseBtn {
         display: flex;
         justify-content: space-between;
         align-items: center;

         >h2 {
            width: 20%;
            border-bottom: 2px solid white;
            color: white;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 2px;
         }

         >img.closeBtn {
            width: 20px;
            height: 20px;
         }

         >img.closeBtn:hover {
            cursor: pointer;
            animation: rotateCloseBtn 1s forwards;
         }

      }

      >div#imgCon {
         padding: 20px 0;

         >img {
            width: 360px;
            height: 240px;
         }
      }

      div.text>p {
         color: white;
         text-align: justify;
         padding: 10px;
      }

   }
}


@keyframes rotateCloseBtn {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(90deg)
   }
}

@media(min-width: 750px) {
   section#mainSection {

      >div#hero {
         width: 100%;
         padding: 0 20px;

         >div#text {
            width: 100%;

            >p {
               text-align: center;
            }
         }

         &::before {
            display: none;
         }
      }

      >div#menuButtons {
         flex-direction: row;
         justify-content: center;
         padding-left: 35px;

         >a {
            padding: 20px 50px;
         }

         >a:nth-child(1) {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
         }

         >a:nth-child(4) {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
         }
      }
   }
}