@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url("./resources/bg.jpg");
   font-family: "Poppins", sans-serif;
}

section {
   background-image: url('/resources/bg-overlay.png');
   color: white;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 100px;

   >div#hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 100px;
      position: relative;

      >#imgCon {
         width: 200px;
         height: 200px;
         border: 1px solid white;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;

         >img {
            width: 100px;
            height: 100px;
         }
      }

      >div#text {
         border: 1px solid white;
         border-left: none;
         border-right: none;
         padding: 20px;
         margin: 0 20px;

         >h2 {
            text-align: center;
            padding: 20px 0;
            text-transform: uppercase;
            letter-spacing: 5px;
         }

         >p {
            text-align: justify;
            padding: 20px 0;
            text-transform: uppercase;
            font-weight: lighter;

            >span {
               text-decoration: underline dotted;
            }
         }
      }

      >::before {
         content: "";
         position: absolute;
         left: 50%;
         top: calc(50% - 55px);
         height: 100px;
         width: 2px;
         background-color: white;
         z-index: 1;
      }

   }

   >div#menuButtons {
      display: flex;
      flex-direction: column;
      width: 100vw;
      padding: 0 20px;
      position: relative;

      >a {
         border: 1px solid white;
         padding: 20px;
         color: white;
         text-align: center;
         text-decoration: none;
         text-transform: uppercase;
         font-weight: 300;
      }

      >a:hover {
         background-color: white;
         color: gray;
         opacity: 0.5;
      }
   }

   >::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -37%;
      height: 100px;
      width: 2px;
      background-color: white;
   }
}

main {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

dialog {
   width: 60%;
   margin: auto;
   background-color: rgba(47, 79, 79, 0.7);
   overflow: hidden;
   border: none;

   >div.mainContent {
      padding: 40px 30px;

      >div.nameAndCloseBtn {
         display: flex;
         justify-content: space-between;
         align-items: center;

         >h2 {
            width: 20%;
            border-bottom: 2px solid white;
            color: white;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 2px;
         }

         >img.closeBtn {
            width: 20px;
            height: 20px;
         }

         >img.closeBtn:hover {
            cursor: pointer;
            animation: rotateCloseBtn 1s forwards;
         }

      }

      >div#imgCon {
         padding: 20px 0;

         >img {
            width: 360px;
            height: 240;
         }
      }

      div.text>p {
         color: white;
         text-align: justify;
         padding: 10px;
      }

   }
}

@keyframes rotateCloseBtn {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(90deg)
   }
}